
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
                                                            

.inline-menu a {
  display: inline;
  background-color: #24f544;
  color: white;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

